<a href="https://colab.research.google.com/github/LuisMedinaBravo/IA_Lab1/blob/main/Poker_Hand.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Proyecto Inteligencia Artificial**

***Dataset: Poker Hand***

In [ ]:
#importe de bibliotecas

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams

rcParams['figure.figsize'] = 10,7
np.random.seed(0)

features = ['S1', 'C1', 'S2', 'C2', 'S3', 'C3', 'S4', 'C4', 'S5', 'C5', 'CLASS']
data = pd.read_csv('https://raw.githubusercontent.com/LuisMedinaBravo/IA_Lab1/main/poker-hand-testing.data', names=features)

# Eliminar valores nulos, si es que existen
data = data.dropna()

#Ordenar de menor a mayor por el atributo "CLASS"
data = data.sort_values(by = ['CLASS'], ignore_index=True)

#mostrar la cabecera del dataset
data.head(10)

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  CLASS
0   1   1   1  13   2   4   2   3   1  12      0
1   3  12   2  13   3   8   2  11   3   4      0
2   2   5   4   7   2  12   4   3   3   2      0
3   3   4   1   5   3  13   2   8   1  10      0
4   2   8   1   9   3   7   4  12   3  10      0
5   1   2   1   4   3   1   4  11   3   9      0
6   2   5   3  13   2   1   3   2   4   7      0
7   3   2   1   1   3  11   2  12   4   7      0
8   4  11   4   7   3  13   4   8   1   6      0
9   1  10   4   7   1  11   3   8   1   5      0

In [ ]:
#Verificar si quedaron valores nulos
data.notna()

          S1    C1    S2    C2    S3    C3    S4    C4    S5    C5  CLASS
0       True  True  True  True  True  True  True  True  True  True   True
1       True  True  True  True  True  True  True  True  True  True   True
2       True  True  True  True  True  True  True  True  True  True   True
3       True  True  True  True  True  True  True  True  True  True   True
4       True  True  True  True  True  True  True  True  True  True   True
...      ...   ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
999995  True  True  True  True  True  True  True  True  True  True   True
999996  True  True  True  True  True  True  True  True  True  True   True
999997  True  True  True  True  True  True  True  True  True  True   True
999998  True  True  True  True  True  True  True  True  True  True   True
999999  True  True  True  True  True  True  True  True  True  True   True

[1000000 rows x 11 columns]

In [ ]:
#(números de filas, número de columnas) 
data.shape

(1000000, 11)

In [ ]:
#tamaño dataset (número de filas por número de columnas)
data.size

11000000

In [ ]:
#quitar filas duplicadas
data = np.unique(data,axis=0)
#uniques.size

data.size

10976592

In [ ]:

nb_classes = 10  # we have 10 classes of poker hands
cls = {}
for i in range(nb_classes):
    cls[i] = len(data[data.CLASS==i])
    
poker_hands = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
hand_name = {
    0: 'Nothing in hand',
    1: 'One pair',
    2: 'Two pairs',
    3: 'Three of a kind',
    4: 'Straight',
    5: 'Flush',
    6: 'Full house',
    7: 'Four of a kind',
    8: 'Straight flush',
    9: 'Royal flush',
}

for i in poker_hands:
    print("%s: %d" % (hand_name[i], cls[i]))

Nothing in hand: 501209
One pair: 422498
Two pairs: 47622
Three of a kind: 21121
Straight: 3885
Flush: 1996
Full house: 1424
Four of a kind: 230
Straight flush: 12
Royal flush: 3

In [ ]:
##1) S1 “Suit of card #1”
     ## Ordinal (1-4) representing {Hearts, Spades, Diamonds, Clubs}

   ##2) C1 “Rank of card #1”
     ## Numerical (1-13) representing (Ace, 2, 3, ... , Queen, King)

   #3) S2 “Suit of card #2”
    #  Ordinal (1-4) representing {Hearts, Spades, Diamonds, Clubs}

   #4) C2 “Rank of card #2”
    #  Numerical (1-13) representing (Ace, 2, 3, ... , Queen, King)

   #5) S3 “Suit of card #3”
    #  Ordinal (1-4) representing {Hearts, Spades, Diamonds, Clubs}

   #6) C3 “Rank of card #3”
    #  Numerical (1-13) representing (Ace, 2, 3, ... , Queen, King)

   #7) S4 “Suit of card #4”
      #Ordinal (1-4) representing {Hearts, Spades, Diamonds, Clubs}

   ##8) C4 “Rank of card #4”
     ## Numerical (1-13) representing (Ace, 2, 3, ... , Queen, King)

   ##9) S5 “Suit of card #5”
    #  Ordinal (1-4) representing {Hearts, Spades, Diamonds, Clubs}

   #10) C5 “Rank of card 5”
     # Numerical (1-13) representing (Ace, 2, 3, ... , Queen, King)

   #11) CLASS “Poker Hand”
    #  Ordinal (0-9)

In [ ]:
train_x = x[:80]
train_y = y[:80]

test_x = x[80:]
test_y = y[80:]

NameError: ignored