<a href="https://colab.research.google.com/github/LuisMedinaBravo/IA_Lab1/blob/main/Poker_Hand.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#importe de bibliotecas

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams

rcParams['figure.figsize'] = 10,7
np.random.seed(0)

features = ['S1', 'C1', 'S2', 'C2', 'S3', 'C3', 'S4', 'C4', 'S5', 'C5', 'CLASS']
data = pd.read_csv('sample_data/poker-hand-testing.data', names=features)

#mostrar la cabecera del dataset
data.head(10)

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  CLASS
0   1   1   1  13   2   4   2   3   1  12      0
1   3  12   3   2   3  11   4   5   2   5      1
2   1   9   4   6   1   4   3   2   3   9      1
3   1   4   3  13   2  13   2   1   3   6      1
4   3  10   2   7   1   2   2  11   4   9      0
5   1   3   4   5   3   4   1  12   4   6      0
6   2   6   4  11   2   3   4   9   1   7      0
7   3   2   4   9   3   7   4   3   4   5      0
8   4   4   3  13   1   8   3   9   3  10      0
9   1   9   3   8   4   4   1   7   3   5      0

In [3]:
#(números de filas, número de columnas) 
data.shape

1000000

In [4]:
#tamaño dataset (número de filas por número de columnas)
data.size

11000000